.about
{
   
   height: 10vh;
   font-family: serif;
   padding: 20px;
   padding-right: 20px;
  
}


h1{
   margin:0;
   text-align: center;
   font-size: 50px
   
   
}
h2{
   margin:0px;
   text-align: center;
}
h4{
   margin: 10px;
 }
h3{
   margin: 10px;
   text-align: center
}
p{
   word-wrap: normal;
   font-family:Verdana;
   width: 30cm;
   font-size: 25px;
   text-align: justify;
}

 nav ul{
   float:right;
   display:flex;
   column-gap:25px;
   list-style-type:none;
   font-size: 25px;
 }

 .statement {
   
    display: flex;
    justify-content: center;
    align-content: center;

 }

 #us1{
   
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    
 }
 #weare{
   
   display: flex; 
   justify-content: space-around;
   padding: 30px;
   position: relative;
 }
 #firm{
   
   margin: 40px;
   font-size: 30px;

 }
 #partnernames{
   margin-left: 30px;
   display: flex;
   justify-content: space-around;
   margin-bottom: 0%;
   text-align:center;
   
 }
 #roles{
  
   display: flex;
   justify-content: space-around;
   margin-top: 0px;
   text-align: justify;
   font-size: 15px;
   
 }

 #practiceareas{
   display: flex;
   margin: 40px;
   font-size: 30px;
   width: fit-content;

 }

 #practice1{
   
   margin-left: 30px;
   margin-top: 50px;
   justify-content: space-around;
   margin-bottom: 0%;
   font-size: 25px;
   text-align: justify;
   word-spacing: 2px;
 }
 #practice2{
  
   margin-left: 30px;
   margin-top: 50px;
   justify-content: space-around;
   margin-bottom: 0%;
   font-size: 25px;
   text-align: justify;
   word-spacing: 2px;
 }
 #practice3{
  
   margin-left: 30px;
   margin-top: 50px;
   justify-content: space-around;
   margin-bottom: 0%;
   font-size: 25px;
   text-align: justify;
   word-spacing: 2px;
 }
 #title{
   font-size: 30px;
 }